<!DOCTYPE ejs>
<ejs lang="en">
	<head>
		<meta charset="utf-8">
		<title>Flowers and Bees</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">      
		<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="/stylesheets/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="/stylesheets/flexslider.css" rel="stylesheet"/>
		<link href="/stylesheets/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="/javascripts/jquery-1.7.2.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>				
		<script src="/javascripts/superfish.js"></script>	
		<script src="/javascripts/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://ejs5shim.googlecode.com/svn/trunk/ejs5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="eg. Flower bouquet">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="#">My Account</a></li>
							<li><a href="cart.ejs">Your Cart</a></li>
							<li><a href="checkout.ejs">Checkout</a></li>					
							<li><a href="register.ejs">Login</a></li>		
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<p class="logo pull-left" style="font-size: 20px"><strong>Flowers and Bees</strong></p>
					<nav id="menu" class="pull-right">
						<ul>
							<li><a href="./products.ejs">Special Gifts</a>					
							
							</li>															
							<li><a href="./products.ejs">Prices</a></li>			
							<li><a href="./products.ejs">Occasions</a>
				
							</li>							
							<li><a href="./products.ejs">Honey and Sweets</a></li>
							<li><a href="./products.ejs">More Categories</a></li>
						</ul>
					</nav>
				</div>
			</section>
			
			<section class="header_text">
				We stand for top quality products. 
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="product_detail.ejs"><img src="/images/flower1.png" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">40 Red and White Roses Arrangement</a><br/>
														<a href="products.ejs" class="category">Flower Bouquet</a>
														<p class="price">Rs. 1099</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="product_detail.ejs"><img src="/images/flower2.png" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">Yellow Lillies Bunch</a><br/>
														<a href="products.ejs" class="category">Flower Bouquet</a>
														<p class="price">Rs. 999</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="/images/flower3.png" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">Purple Orchids Deluxe Bouquet</a><br/>
														<a href="products.ejs" class="category">Flower Bouquet</a>
														<p class="price">Rs. 599</p>
													</div>
												</li>
											
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="/images/flower5.jpg" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">Hot cocoa Truffles</a><br/>
														<a href="products.ejs" class="category">Special Gifts</a>
														<p class="price">Rs. 799</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="/images/flower6.jpg" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">Flowers and Chocolates</a><br/>
														<a href="products.ejs" class="category">Special Gifts</a>
														<p class="price">Rs. 599</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="/images/flower1.jpg" alt="" /></a></p>
														<a href="product_detail.ejs" class="title"></a><br/>
														<a href="products.ejs" class="category"></a>
														<p class="price"></p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="/images/flower8.jpg" alt="" /></a></p>
														<a href="product_detail.ejs" class="title"></a><br/>
														<a href="products.ejs" class="category"></a>
														<p class="price"></p>
													</div>
												</li>																																	
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						<br/>
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="product_detail.ejs"><img src="/images/flower5.jpg" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">Rose Cake</a><br/>
														<a href="products.ejs" class="category">Special Gifts</a>
														<p class="price">Rs 599</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="/images/flower6.jpg" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">Chocolates and Roses</a><br/>
														<a href="products.ejs" class="category">Special gifts</a>
														<p class="price">Rs 799</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="/images/flower7.jpg" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">Flower bouquet</a><br/>
														<a href="products.ejs" class="category">Special Gifts</a>
														<p class="price">Rs 499</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="/images/flower8.jpg" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">Chocolates and Roses</a><br/>
														<a href="products.ejs" class="category">Special Gifts</a>
														<p class="price">Rs 1099</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="/images/flower9.png" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">Know exactly</a><br/>
														<a href="products.ejs" class="category">Quis nostrud</a>
														<p class="price">$45.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="themes/images/cloth/bootstrap-women-ware3.jpg" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">Ut wisi enim ad</a><br/>
														<a href="products.ejs" class="category">Commodo consequat</a>
														<p class="price">$33.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="themes/images/cloth/bootstrap-women-ware2.jpg" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">You think water</a><br/>
														<a href="products.ejs" class="category">World once</a>
														<p class="price">$45.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.ejs"><img src="themes/images/cloth/bootstrap-women-ware1.jpg" alt="" /></a></p>
														<a href="product_detail.ejs" class="title">Quis nostrud exerci</a><br/>
														<a href="products.ejs" class="category">Quis nostrud</a>
														<p class="price">$25.20</p>
													</div>
												</li>																																	
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						<div class="row feature_box">						
							<div class="span4">
								<div class="service">
									<div class="responsive">	
										<img src="themes/images/feature_img_2.png" alt="" />
										<h4>NEW<strong>ITEMS</strong></h4>
																			
									</div>
								</div>
							</div>
							<div class="span4">	
								<div class="service">
									<div class="customize">			
										<img src="themes/images/feature_img_1.png" alt="" />
										<h4>FREE <strong>SHIPPING</strong></h4>
										
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="service">
									<div class="support">	
										<img src="themes/images/feature_img_3.png" alt="" />
										<h4>24/7 LIVE <strong>TRACKING</strong></h4>
										
									</div>
								</div>
							</div>	
						</div>		
					</div>				
				</div>
			</section>
	
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="/index.ejs">Homepage</a></li>  
							<li><a href="/about.ejs">About Us</a></li>
							<li><a href="/contact.ejs">Contac Us</a></li>
							<li><a href="/cart.ejs">Your Cart</a></li>
							<li><a href="/register.ejs">Login</a></li>							
						</ul>					
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="#">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="/images/logo.png" class="site_logo" alt=""></p>
						
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2013 flowers and bees All right reserved.</span>
			</section>
		</div>
		<script src="/javascripts/common.js"></script>
		<script src="/javascripts/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</ejs>